 upstream backend {
    
	 server 3.16.75.187;
     server	3.133.116.153;
	 server	18.217.81.41;
	 server	3.134.96.56;
    
        }

        server {
           listen 8094; 
           location / {
               proxy_pass http://backend/;
           }
        }
