<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello from "{{ welcome }}"</title>
</head>
<body>
    <h4>Hello from {{ welcome }}</h4>
    <h4>{{ ansible_hostname }}</h4>
    <h4>{{ ansible_distribution }}</h4>
    <h4>{{ ansible_memory_mb }}</h4>
    <h4>{{ ansible_default_ipv4 }}</h4>
    <h4>{{ ansible_mounts }}</h4>
    <h4>{{ ansible_interfaces }}</h4>
</body>
</html>