<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr align="center">
        <th>Variables</th> 
        <th>Values</th>
        </tr align="center">
        {% for Variable, Value in ansible_env.items() %}
          <tr>
          <td>{{ Variable }}</td>
          <td>{{ Value }}</td>
          </tr>
          {% endfor %}
        </table>
        
</body>
</html>