<h4>Looping key/value pairs in a Environment Variables</h4>
<hr>
<table border="1">
<tr align="center">
<th>Variables</th> 
<th>Values</th>
</tr align="center">
{% for Variable, Value in ansible_env.items() %}
  <tr>
  <td>{{ Variable }}</td>
  <td>{{ Value }}</td>
  </tr>
  {% endfor %}
</table>
